<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-8 is-offset-2">
        <h2 class="title is-4">Here you can export all your books in PDF</h2>
                <%= link_to 'Check out the PDF', pdf_path(:format => 'pdf') %>
                <hr>  
        <% require "prawn"
        pdf = Prawn::Document.new
        books_array = [] %>
          <% @books.each do |book|
              books_array[0] = book.title
              pdf.text books_array.last
          %>


                <% if current_user == book.user %>
                    <% if book.blacklist == true %>
                      <div class="column">
                        <h3 class="title is-6 index-title">Title: <%= book.title %> <p style="color:red;">Knjiga je na blacklisti!</p></h3>
                        Description:
                        <%= book.description %><br>

                        <h3 class="title is-6 index-title">Year: <%= book.year %></h3>

                        <%= genre(book.genre) %>
                        <hr>
                      </div>

                    <% else %>

                        <div class="column">
                          <h3 class="title is-6 index-title">Title: <%= book.title %></h3>
                          Description:
                          <%= book.description %><br>

                          <h3 class="title is-6 index-title">Year: <%= book.year %></h3>

                          <%= genre(book.genre) %>
                          <hr>
                        </div>
                    <% end %>


                <% end %>


        <% end %>





      </div>
    </div>
  </div>

</section>
